
<html>
<head>
<title>INSERT USER</title>
<style>
    li{ display: inline-block;
    list-style-type: none;
    margin-left: 15px;
    text-transform: uppercase;}
</style>
</head>
<body>
<ul>
        <li><a href="/user/index/1">List User</a></li>
        <li><a href="/user/insertUser">insert user</a></li>
        <li><a href="/user/updateUser">updete user</a></li>
        <li><a href="/user/deleteUser">delete user</a></li>
        <li><a href="/logout">logout</a></li>
    </ul>
<h1>insert user</h1>
<form method="POST" action="/user/insertUser">
  <lable style=" margin-right: 25px;">User name</lable> <input type="text" name="username"> <br>
   <lable style=" margin-right: 58px;">Email </lable><input type="email" name="email"><br>
   <lable style=" margin-right: 35px;">Password </lable>  <input type="password" name="password"><br>
   <lable style=" margin-right: -2px;">Expiration date</lable> <input type="date" value="2012/10/02" name="expiration_date"><br>
    <input type='hidden' name='_csrf' value='<%= _csrf %>'>
   <input type="submit" value="submit">
</form>
<% if(typeof message !== 'undefined'){ %>
<p><%= message %></p>
<% } %>
</body>
</html>
    